<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #24292f;">
    <a class="navbar-brand" href="{% url 'home' %}">GPU Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item {% ifequal nmenu 'total_sales' %} active {% endifequal %}">
                <a class="nav-link" href="{% url 'total_sales' %}">Total Sales</a>
            </li>
            <li class="nav-item {% ifequal nmenu 'total_sales_filtered' %} active {% endifequal %}">
                <a class="nav-link" href="{% url 'total_sales_filtered' %}">Total Sales Filtered</a>
            </li>
            <li class="nav-item {% ifequal nmenu 'individual_scatter' %} active {% endifequal %}">
                <a class="nav-link" href="{% url 'individual_scatter' %}">Scatter plots</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!-- <script>
    $(document).ready(function () {
        $(".navbar-nav .nav-item").bind("click", function (event) {
            event.preventDefault();
            var clickedItem = $(this);
            $(".navbar-nav .nav-item").each(function () {
                $(this).removeClass("active");
            });
            clickedItem.addClass("active");
        });
    });
</script> -->