{% extends 'partials/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row m-3">
    <div class="col-lg-3 mt-4">
        <div class="border p-4 shadow">
            <span class="rounded">
                <h4>Add Data</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid pt-3">
                        <button class="btn btn-block btn-outline-success" type="submit">Add</button>
                    </div>
                </form>
            </span>
        </div>
    </div>
    <div class="col-lg-9 mt-4">
        <canvas id="myChart" width="300" height="180"></canvas>
        <script>
            Chart.defaults.font.size = 15;
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for d in data %} '{{ d.model }}', {% endfor %}],
            datasets: [{
                data: [{% for d in data %} {{ d.memory_size }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.75)',
                    'rgba(54, 162, 235, 0.75)',
                    'rgba(255, 206, 86, 0.75)',
                    'rgba(75, 192, 192, 0.75)',
                    'rgba(153, 102, 255, 0.75)',
                    'rgba(255, 159, 64, 0.75)'
                ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth: 5
                    }]
                },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                            text: 'Total Sales per Graphics Card',
                                padding: {
                            top: 0,
                                bottom: 25

                        },
                        font: {
                            size: 22
                        }
                    },
                    legend: {
                        display: false,

                    }

                }
            }
            });
        </script>

    </div>
</div>
{% endblock %}
